---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Baskerville,"Baskerville Old Face","Hoefler Text",Garamond,"Times New Roman",serif;
$base-font-size:   16px;
$base-line-height: 1.25;

// $spacing-unit:     30px;

$text-color:       #111;
$background-color: #f6f6f6;
$brand-color:      #004000;
// $text-color:       $brand-color;

@import
        "syntax-highlighting"
;

body {
	color: $text-color;
	background-color: #dddddd;
	font-family: $base-font-family;
	margin: 0;
	a {
		text-decoration: none;
		color: inherit
	}
	ul {
		list-style-type: none;
	}
}

.wrapper {
	max-width: 960px;
	clear: both;
	margin: 0 auto;
}

.header-name, .footer-name, .post-meta, .post-link, .post-header,  {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
}

.site-header {
	box-shadow: 0px 0px 10px #777;
	background-color: $brand-color;
	color: $background-color;
	height: 92px;
	color: $background-color;
	clear: both;
}

.logo {
	font-weight: normal;
	font-size: 5em;
	float: left;
	padding: 0 .5em 0 .25em;
	margin: 0;
	color: $background-color;
	  &:hover {
      color: white;
    }
}

.header-name {
	float: left;
	line-height: 1.75em;
	font-weight: bold;
	font-size: 1.75em;
	margin-bottom: 0;
	color: $background-color;
    &:hover {
      color: white;
    }
}

.header-nav {
	font-weight: normal;
	// display: inline-block;
	float: right;
	font-size: 1.5em;
	padding: .6em .75em 0 0;
	color: $background-color;
    &:hover {
      color: white;
    }
}

.nav-right {
	float: right;
	width: 400px;
	padding-right: .75em;
}

.home, .post {
	padding: 0em 0.5em;
}
.division {
	margin: 0.5em 2em 2em 2em;
}
.page-heading {
	font-size: 6em;
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0 0 .25em 0;
	padding: .25em 0 0 0;
}

.post-link {
	font-size: 2em;
	display: block;
	text-align: center;
	margin: 0;
}

.post-list {
	p {
		font-size: 1.5em;
		margin-bottom: 0;
	}
	li {
	padding: 1em 2em 2em 2em;
	margin: 2em;
	// margin: 2em .5em;
	cursor: pointer; 
	cursor: hand;
	}
	ul {
		margin: 0;
	}
}

.post-list li, .post {
	background-color: #f9f9f9;
	box-shadow: 0px 2px 8px #777;
	// box-shadow: 6px 8px 6px -6px #777;
}

ul.post-list {
	margin: 0;
	padding: 0;
}

.post {
	padding: 2em;
	margin: 2em;
	// margin: 2em .5em;
	h1 {
		margin: 0;
	}
}

.post-header {
	font-size: 1.5em;
	text-align: center;
}

.page-content {
	min-height: calc(100vh - 272px);
	// width: 70%;
	float: left;
	margin: 0;
	h2 {
		font-weight: normal;
		padding: .01em 0;
	}
}

.post-meta {
	p {
		// font-size: 1em;
	}
	text-align: right;
}

.sidebar {
	margin: 2em 0;
	width: 30%;
	float: left;
	text-align: center;
h1 {
	font-weight: normal;
}
}

.footer-name {
	font-weight: normal;
	float: left;
	line-height: 3em;
	font-size: 1.25em;
	margin-bottom: 0;
	color: $background-color;
    &:hover {
      color: white;
    }
}

.footer-nav {
	font-weight: normal;
	// display: inline-block;
	float: right;
	font-size: 1.25em;
	padding: 1em .75em 0 0;
	color: $background-color;
    &:hover {
      color: white;
    }
}

.post {
	p {
		font-size: 1.5em;
	}
}

pre,
code {
    font-size: 18px;
    border: 1px solid #999999;
    // border-radius: 3px;
    background-color: #efefef;
    line-height: 22px;
}

code {
    padding: 2px 4px;
}

pre {
    padding: 8px 12px;
    // overflow-x: scroll;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.pagination {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 1em;
}

.previous, .next {
	font-weight: bold;
}